@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Playwrite+VN:wght@100..400&display=swap');
body {
    background-color:rgb(61, 41, 10);
    color: rgb(65, 114, 2);
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.header {
     font-family: 'Playwrite VN', sans-serif;
     text-align: center;
     margin-bottom: 20px;
     color:yellow;
     text-shadow: 0 0 10px rgb(108, 1, 248), 0 0 20px goldenrod; 
}
h3 {
    color: rgb(255, 165, 0); /* Example color: orange */
    
    text-align: center; /* Center align if needed */
    margin: 10px 0;
}
.location {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.location-header {
    text-align: center;
    margin-bottom: 10px;
}

/* Style for the section title (h2) */
.location h2 {
    font-size: 2rem; 
    color: gold; 
    margin-bottom: 600px;
}


/* Adjust content alignment */
.location .content {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.location .text p {
    flex: 1;
    font-size: 1.2rem;
    color: rgb(71, 172, 13);
    margin-top: 10px;
    max-width: 400px; 
    line-height: 1.6;
    text-align: left;
}

.location .container {
display: flex;
  align-items: flex-start; /* Aligns items to the top */
  gap: 20px; /* Adds space between the video and text */
}

.carousel {
    flex: 1;
    position: relative;
    max-width: 300px;
    overflow: hidden; 
    border: 2px solid gold;
    border-radius: 10px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out; 

}

.carousel-images img {
    width: 100%; 
    flex-shrink: 0; 
    border: none; 
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-button:hover {
    background-color: rgba(255, 215, 0, 0.8); 
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

video {
    flex: 1;
    max-width: 300px;
    overflow: hidden; 
    border: 2px solid gold;
    border-radius: 10px;
}

.footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
  }

  .footer-bottom p {
    color: #ffffff; 
    margin: 0; 
  }